:root {
  --primary-color: #ff670f;
  --secondary-color: #9e7ac6;
  --base-color: #46a0de;
  --constrat-color: rgba(255, 103, 15, 0.8);
  --texto-ligero: 'Noto Sans', sans-serif;
  --texto-encabezados: 'Noto Serif', serif;
}

/* Estilos generales */
.btn:not(.btn.elminarReceta), .page-item.active a {
  background-color: var(--primary-color);
  border: none;
}

.btn:hover {
  background-color: var(--secondary-color) !important;
}

a:hover {
  color: var(--primary-color) !important;
}

/* Estilos del login */
@media(min-width: 992px) {
  #navbarNav li:last-child {
    margin-left: 20rem !important;
  }
}

/* Estios del Dashboard */
.bi {
  font-size: 20px;
} 

.card a:hover, .card a {
  text-decoration: none;
}

div.card-body:not(div.elminarReceta) {
  background-color: var(--primary-color);
  color: white
}

/* Estilos de Eliminar Receta */
 p.elminarReceta {
  color: red;
}

/* Estilos introducir ingredientes */
#btnMas {
  display: block;
  padding: .2rem 1rem;
  color: white;
  background-color: var(--base-color);
  border: none;
}

#btnMas:hover {
  background-color: var(--secondary-color);
}
